{% extends 'plog/base.html' %}
{% load static %}



{% block content %}
    <h2><p style="text-align:left;">3D Printing</p></h2>
<br>
  <p style="text-align:left;">  Pictures are a compelling way to convey conceptual clarity in mathematics. 3D printing allows us to share some beautiful objects with others.
    I am interested in constructing models of topological spaces and printing them. Translating spaces from pen and paper
    to our world via 3D printing is an engaging activity and has a lot of accessible literature. This page is a sample collection of some models that I have printed. Printable files for models below are freely available at request.
</p>
<br>
   

<h2><p style="text-align:left;">Immersed Möbius band</p></h2>
     <p style="text-align:center;"><img src="{% static "css\mob.jpg" %}" width="410" height="auto" ><img src="{% static "css\momom.jpg" %}" width="350" height="auto" ></p><br>
     

<h2><p style="text-align:left;">Punctured Lens Space L(5,2) minus a 2-handle</p></h2>
     <p style="text-align:center;"><img src="{% static "css\le.jpg" %}" width="410" height="auto" ><img src="{% static "css\gogo.jpg" %}" width="350" height="auto" ></p><br>


<h2><p style="text-align:left;">Punctured Lens Space L(3,2) minus a 2-handle</p></h2>
     <p style="text-align:center;"><img src="{% static "css\les.jpg" %}" width="410" height="auto" ><img src="{% static "css\dad.jpg" %}" width="350" height="auto" ></p><br>




    <br>



{% endblock %}
