
{% extends 'plog/base.html' %}
{% load static %}



{% block content %}

    <!-- <p style="text-align:center;"><img src="{% static "css\blongo.jpg" %}" width="250" height="auto" ><img src="{% static "css\albra.jpg" %}" width="300" height="auto" ></p><br> -->
    <p style="text-align:center;"><img src="{% static "css\dad.jpg" %}" width="400" height="auto" ></p><br>

    
    
    <h2><p style="text-align:left;">About Me</p></h2>

    <p>

<p style="text-align:left;">I am graduate student in the <a href="https://www.math.fsu.edu"> Department of Mathematics</a> at <a href="https://www.fsu.edu">Florida State University</a>.
My advisor is <a href="https://www.math.fsu.edu/~heil/">Wolfgang Heil</a>.</p>

<p style="text-align:left;">
My research interests lay in low dimensional topology. Particularly problems associated to stratifed spaces, surfaces, and 3-manifolds. Click <a href="{% url 'research'  %}">
here</a> to read more about my research interests. 
 </p>


<p style="text-align:left;">
This semester I am co-coordinating the FSU math graduate student seminar.

I am applying for academic jobs during the Fall 2019 application season. Here is my  <a href="{% static "css\CV_JB.PDF" %}" download> CV. </a>  <br>
    <br>   <br>


{% endblock %}
