{% extends 'plog/base.html' %}
{% load static %}



{% block content %}

         <p style="text-align:center;"><img src="{% static "css\4valent.jpg" %}" width="300" height="auto" ></p><br>

     <h2><p style="text-align:left;">Research</p></h2>

My research is in low dimensional topology. I am interested in studying topological properties and algebraic invariants
of spaces with dimension 3 or less. Currently, I study the classification of topologically stratified spaces called
2-stratifolds. A 2-stratifold is approximately a space locally modeled on where n-sheets meet.
<p></p>
While the preprint is being written, feel free to peruse my slides about trivalent 2-stratifolds from 
<a href="https://math.temple.edu/events/conferences/gscagt/">GSCAGT</a>.
    <br>
    <br>
    <h2><p style="text-align:left;">Preprints</p></h2>
    &bull; Classifying Trivalent 2-stratifolds with Finite Fundamental Group (Coming soon)
    <p></p>


    <p></p>
 <h2><p style="text-align:left;">Invited Talks</p></h2>
    &bull; Classifying Trivalent 2-stratifolds with Finite Fundamental Group 


{% endblock %}
