
{% extends 'plog/base.html' %}
{% load static %}



{% block content %}

    <h2><p style="text-align:left;">Seminars</p></h2>

<p style="text-align:left;">Over the summer of 2019, I participated in an informal Graduate Student Seminar in Topology and Geometry.
Then in fall of 2019, I co-organized the Graduate Student Seminars with Opal Graham and Micheal Niemeier.  <br>




<br>

 <p style="text-align:center;"><img src="{% static "css\gar4.jpg" %}" width="500" height="auto" ></p><br>


<br>

{% endblock %}
