{% extends 'plog/base.html' %}
{% load static %}



{% block content %}
<p style="text-align:center;"><img src="{% static "css\han.jpg" %}" width="200" height="auto" hspace="40" >  <img src="{% static "css\mon.jpg" %}"
width="200" height="auto" hspace="40" ></p><br>

<h1><p style="text-align:left;">Teaching</p></h1>


I enjoy teaching and communicating mathematics. To increase my efficacy as a teacher, I took courses the university offers such as FSU Program for Instructional Excellence Teaching Training Recognition
and its sequel the Advanced PIE Teaching Training Recognition. Below is a list of classes that I have taught.

<h2><p style="text-align:left;">Courses Taught</p></h2>
    
 
     

  <p style="text-align:left;"><b>&bull;Fall 2019:</b>
  MAC2313 - Calculus 3</p>

   <p style="text-align:left;"><b>&bull;Summer 2019:</b>
  MAS3105 - Linear Algebra </p>
  
   <p style="text-align:left;"><b>&bull;Spring 2019:</b>
  MAS3105 - Linear Algebra </p>
  
    <p style="text-align:left;"><b>&bull;Fall 2018:</b>
   MAC2313 - Calculus 3</p>
   
 <p style="text-align:left;"><b>&bull;Summer 2018:</b>
  MAC2311 - Calculus 1 </p>
  
    <p style="text-align:left;"><b>&bull;Spring 2018:</b>
   MAC2311 - Calculus 1 

   <p style="text-align:left;"><b>&bull;Fall 2017:</b> 
  MAC1140 - Precalculus</p>
  
   <p style="text-align:left;"><b>&bull;Spring 2017:</b> 
   MAC1140 - Precalculus</p>

</ul>  




{% endblock %}
