{% extends 'plog/base.html' %}
{% load static %}



{% block content %}
<p style="text-align:center;"><img src="{% static "css\han.jpg" %}" width="200" height="auto" hspace="40" >  <img src="{% static "css\mon.jpg" %}"
width="200" height="auto" hspace="40" ></p><br>

<h1><p style="text-align:left;">Teaching</p></h1>


I enjoy teaching and communicating mathematics.  My teaching goals are to teach students to
think independently in mathematics and help them learn how to communicate analytical concepts.
My favorite course to teach is linear algebra. In the future, I am interested in teaching
proof based courses such as Introduction to Topology and Introduction to Abstract Algebra.
<br>
<br>

All course material can be found on <a href="https://canvas.fsu.edu/">Canvas</a>.
<h2><p style="text-align:left;">Courses Taught</p></h2>
    
 
     

  <p style="text-align:left;"><b>&bull;Fall 2019:</b>
  MAC2313 - Calculus 3</p>

   <p style="text-align:left;"><b>&bull;Summer 2019:</b>
  MAS3105 - Linear Algebra </p>
  
   <p style="text-align:left;"><b>&bull;Spring 2019:</b>
  MAS3105 - Linear Algebra </p>
  
    <p style="text-align:left;"><b>&bull;Fall 2018:</b>
   MAC2313 - Calculus 3</p>
   
 <p style="text-align:left;"><b>&bull;Summer 2018:</b>
  MAC2311 - Calculus 1 </p>
  
    <p style="text-align:left;"><b>&bull;Spring 2018:</b>
   MAC2311 - Calculus 1 

   <p style="text-align:left;"><b>&bull;Fall 2017:</b> 
  MAC1140 - Precalculus</p>
  
   <p style="text-align:left;"><b>&bull;Spring 2017:</b> 
   MAC1140 - Precalculus</p>

</ul>  




{% endblock %}
